	*{
		margin: 0;
		padding: 0;
	}

	@font-face {
		font-family: kumaha_abi;
		src: url(../font/avenirltstd-heavy.otf);
	}

	body{
		background-image: url(../image/background.png);
		background-size: cover;	
	}

	.container{
		width: 1100px;
		margin: auto;	
	}

	/*=========================SIDE BAR============================*/

	.sidebar{		
		width: 20%;
		height: 100px;
		float: left;
	}



	/*=--Logo Hap-hap--=*/
	.atas{
		background-color: #3d5654;
		width: 100%;
		height: 220px;	
		border-top-right-radius: 25px;
	}
	.atas img{
		width: 85px;
		height: 85px;
		margin: 35px 0px 10px 70px;		
	}
	.atas h2{
		text-align: center;
		color: white;	
		font-family: sans-serif;					
		font-size: 18px;
		font-weight: normal;		
	}
	.atas h3{
		margin-top: 5px;
		text-align: center;
		color: white;	
		font-family: sans-serif;					
		font-size: 16px;		
		font-weight: normal;
	}
	.atas a{		
		text-align: center;
		color: white;
		text-decoration: none;
		font-family: sans-serif;
		font-size: 12px;
	}
	.atas a:hover{
		color: #c99c33;	
	}



	/*=--Nav Menu--=*/
	.bawah{	
		background-color: #425c5a;
		width: 100%;
		height: 475px;
	}
	.bawah ul{				
		padding-top: 15px;
	}
	.bawah ul li{			
		list-style-type: none;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
		padding: 5px;
		margin: 20px 0px 20px 20px;		
		border: none;

	}
	.bawah ul li .btn-dash{					
		text-decoration: none;	
		color:  #3d5654;	
		font-family: sans-serif;	
		position: fixed;
		font-size: 14px;	
		padding-top: 7px;					
		border-top-right-radius: -50px;
	}
	.bawah ul li .btn-sewa{					
		text-decoration: none;	
		color:  #3d5654;	
		font-family: sans-serif;	
		position: fixed;
		font-size: 14px;	
		padding-top: 7px;					
		border-top-right-radius: -50px;
	}
	.bawah ul li .btn{					
		text-decoration: none;	
		color: white;	
		font-family: sans-serif;	
		position: fixed;
		font-size: 14px;	
		padding-top: 7px;					
		border-top-right-radius: -50px;
	}
	.bawah ul li img{
		margin-right: 15px;	
		margin-left: 20px;	
		width: 24px;
		height: 24px;
	}
	.bawah ul li a:hover{
		color: #c99c33;				
	}
	.sidedash {
		background-color: #e1eceb;
	}


	#sidenav a {
		position: absolute;
		left: -80px;
		transition: 0.3s;
		padding: 15px;
		width: 100px;
		text-decoration: none;
		font-size: 18px;
		color: white;
		border-radius: 0 5px 5px 0;
		font-family: sans-serif;
	}
	#sidenav a:hover {
		left: 0;
	}	
	#about {
		top: 560px;
		background-color: #c99c33;
	}
	#contact {
		top: 620px;
		background-color: #3d5654;
	}

	.versi{
		font-family: sans-serif;
		color: white;
		margin: 195px 40px 0px 80px;
		font-size: 12px;
		font-weight: normal;

	}


	/*=========================CONTENT============================*/
	.content{
		background-color: #e1eceb;
		width: 80%;
		height: 695px;		
		float: right;
		box-shadow: 0px 10px 40px rgba(0,0,0,0.3);
	}
	.judul{
		margin-left: 25px;		
		margin-top: 20px;	
		margin-bottom: 30px;	
		width: 93%;
		height: 180px;
		background-color: white;
		border-radius: 15px;
		float: left;	
	}
	.judul-sewa{
		margin-left: 25px;		
		margin-top: 20px;	
		margin-bottom: 30px;	
		width: 93%;
		height: 180px;
		background-color: white;
		border-radius: 15px;
		float: left;
	}
	.judul-sewa img{
		border-radius: 15px;
		background: no-repeat;
	}
	.bola img{
		float: right;
		margin-right: 50px;
	}

	.box-nama{
		padding: 10px 25px;
		background-color: #e1eceb;		
		width: 200px;
		border-radius: 25px;
		margin: 10px 10px 10px 40px;
		float: left;
	}
	.box-tanggal{
		padding: 8px 25px;
		background-color: #e1eceb;		
		width: 200px;
		border-radius: 25px;
		margin: 10px 10px 10px 10px;
		float: left;
	}
	.box-lapangan{
		padding: 8px 25px;
		background-color: #e1eceb;		
		width: 200px;
		border-radius: 25px;
		margin: 5px 10px 30px 40px;
		float: left;
	}
	.search{
		width: 200px;
		padding: 5px 0;
		background-color: #e1eceb;
		border: none;	
		color: #3d5654;
	}
	.box-search{
		width: 200px;		
		margin: 4px 10px 30px 10px;
		float: left;
	}
	.tombol-search{
		width: 250px;		
		border: none;			
		padding: 14px;
		background-color: #c99c33;
		border-radius: 25px;
		color: white;		
		font-size: 12px;		
		cursor: pointer;
	}
	.filter{
		font-family: sans-serif;
		color: #3d5654;
		font-size: 18px;
		margin: 15px 0px 0px 30px;
	}
	.fitur{
		margin-left: 30px;
		color: red;
		font-family: sans-serif;
		font-size: 10px;		
	}




	/*=--Tabel Data di Dashboard--=*/

	.data-sewa{
		width: 93%;
		height: 400px;
		margin-left: 25px;
		background-color: white;	
		border-radius: 10px;	
		float: left;
	}
	.head{
		width: 96%;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;	
		height: 50px;
		margin: auto;
		margin-top: 10px;	
		background-color:#3d5654;
	}
	.head h4{
		color: white;
		font-family: sans-serif;
		padding: 15px;				
	}
	.data{
		width: 96%;		
		height: 250px;
		margin: auto;		
		background-color:#e1eceb;
	}
	.table-sewa{
		font-family: sans-serif;
		border-collapse: collapse;
		overflow-x:auto;
		border-spacing: 0;
		width: 100%;
	}
	.table-sewa th{				
		background-color: #3d5654;
		color: white;	
		font-style: normal;	
		font-weight: normal;
		
	}
	.table-sewa, th, td {
		border: 1px solid  #f2f5f7;	
		padding: 8px 12px;
	}
	.table-sewa tr{
		font-size: 14px;	
	}
	.table-sewa tr:hover {
		background-color: white;
	}
	.table-sewa tr:nth-child(even) {
		background-color: #f2f2f2;
	}
	.edit{
		color: white;
		font-family: sans-serif;
		text-decoration: none;
		background-color: #4CAF50;
		padding: 5px 18px 5px 18px;
		border-radius: 5px;
	}
	.hapus{
		color: white;
		font-family: sans-serif;
		background-color: #f44336;
		text-decoration: none;
		padding: 5px 10px 5px 10px;
		border-radius: 5px;
	}	



	/*=--Input Data Sewa--=*/
	.label-sewa{
		font-family: sans-serif;
		color: #3d5654;
		font-size: 18px;
		margin: 0px 0px 25px 25px;
	}
	.container-sewa{
		width: 550px;
		margin-left: 25px;		
		background-color: white;
		border-radius: 15px;
		float: left;
	}
	.wadah-input{
		height: 50px;
		width: 97%;
		padding-top: 10px;
		padding-left: 15px;	
		padding-bottom: 5px;	
	}
	.wadah-input label{
		font-size: 14px;
		color: #425c5a;
		font-family: sans-serif;		
	}
	.wadah-input-lapang{
		height: 50px;
		width: 97%;
		padding-top: 10px;
		padding-left: 15px;		
	}
	.wadah-input-lapang label{
		font-size: 14px;
		color: #425c5a;
		font-family: sans-serif;	
	}
	.mulai{
		height: 50px;
		width: 50%;		
		float: left;		
	}
	.selesai{
		height: 50px;
		width: 50%;
		margin-bottom: 35px;
		float: right;
	}
	.inputan{
		border: 1px solid #E5E2DE;
		color: #3d5654;
		border-radius: 5px;
		padding: 6px;
		width: 500px;
		padding-left: 15px;	
		font-size: 14px;
		background-color: #e1eceb;
		font-family: sans-serif;
	}
	.inputan-waktu{
		border: 1px solid #E5E2DE;
		color: #3d5654;
		border-radius: 5px;			
		padding: 6px;
		width: 235px;
		padding-left: 15px;	
		font-size: 14px;	
		background-color: #e1eceb;
		font-family: sans-serif;
	}
	.inputan-lapangan{
		border: 1px solid #E5E2DE;
		color: #3d5654;
		border-radius: 5px;
		padding: 6px;
		width: 525px;
		padding-left: 15px;	
		font-size: 14px;	
		background-color: #e1eceb;
		font-family: sans-serif;
	}
	.inputan::-webkit-input-placeholder{
		color: #B7B4B1;		
	}
	.inputan-waktu::-webkit-input-placeholder{
		color: #B7B4B1;
	}
	.inputan-lapangan::-webkit-input-placeholder{
		color: #B7B4B1;
	}	
	.wadah-tombol{
		margin-left: 39%;
	}
	.tombol{
		padding: 10px 40px 10px 40px;
		background-color: #c99c33;
		border-radius: 15px;
		color: white;
		margin-bottom: 20px;
		font-size: 12px;
		border: none;
		cursor: pointer;
	}



	/*=--Set Tanggal dan Waktu--=*/
	.tanggal{	
		width:250px;
		height:70px;		
		float: right;	
		margin-right: 35px;
		border-radius: 100px;
		background-color: #425c5a;			
	}
	.tanggal .tgl{
		margin-top: 13px;
		text-align: center;
		color: white;
		font-size: 18px;
		font-family: sans-serif;
		font-weight: normal;
	}
	.tanggal .jam{
		margin-top: -15px;
		text-align: center;
		color: white;
		font-size: 18px;
		font-family: sans-serif;
		font-weight: normal;
	}



	/*=--Foto Admin--=*/
	.card{
		margin-top: 20px;
		width:250px;
		height:300px;		
		float: right;	
		margin-right: 35px;
		border-radius: 15px;		
	}
	.front img{
		border-radius: 15px;
		border: 5px solid white;
	}
	.card .front{
		position: absolute;
		width: 250px;
		height: 300px;
		background: #000;
		backface-visibility: hidden;
		transform: rotateX(0deg);
		transition: 0.5s;
		border-radius: 15px;
	}
	.card .back{
		position: absolute;
		width: 250px;
		height: 300px;
		background: #425c5a;
		backface-visibility: hidden;
		transform: rotateX(180deg);
		transition: 0.5s;
		border-radius: 15px;
	}
	.card .back:before{
		content: '';
		position: absolute;	
		left: 50%;
		width: 125px;
		height: 100%;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		background-color: #3d5654;

	}
	.card:hover .front{
		transform: rotateX(-180deg);
	}
	
	.card:hover .back {
		transform: rotateX(0deg);
	}
	.card .back .detail {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		text-align: center;
		padding: 20px;
		box-sizing: border-box;
	}
	.card .back .detail h2{
		margin: 0;
		padding: 0;
		font-size: 18px;
		font-family: sans-serif;
		color: white;		
		font-weight: normal;
	}
	.card .back .detail span{
		margin: 0;
		padding: 0;
		font-size: 16px;
		font-family: sans-serif;
		color: white;		
	}
	.icon-sosmed{
		padding: 10px 0;
	}
	.icon-sosmed a{
		display: inline-block;
		width: 24px;
		height: 24px;
		text-align: center;
		background: #262626;
		color: white;
		text-decoration: none;
		border-radius: 50%;
		transition: 0.5s;
	}
	.icon-sosmed a img{
		margin: 5.5px;
	}
	.icon-sosmed a:hover{
		background-color: #c99c33;
	}